html{
    margin:0;
    background: white;
    }

#marco{
    width: 1325px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 2em;
    }

#gato{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg');
    height: 297px; 
    width: 507.5px;
    margin-top: 2em;
    margin-left: 2em;
    z-index: 10;
    animation: sprite-animation 1.2s steps(16,end) infinite;
    } 

@keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

#edificios{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526533/eva/edificiosOne_fsg7nx.svg');
    height: 500px;
    width: 1325px;
    z-index: -10;
    top: 6.5em;
    background-position: 0px 0px;
    position: absolute;
    animation: animar_edificios 120s linear infinite;
    background-repeat: repeat-x;
}


@keyframes  animar_edificios {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}  
}
    
